.NavBarSection{
  position: fixed;
  width: 100%;
  z-index:1;
}
html{
  height: 100%;
    overflow-x: hidden;
}

body{
  margin: 0;
  height: 100%;
  width:100%;
  overflow-x: hidden;
  background-color: black;/*#e7d9ea;*/
}



.flexbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}


/*heading*/
.heading{
  margin: 100px 0 100px 0;
  text-align: center;
}
.headtitle{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
}
.bio{
  color:white;
    font-family: "Montserrat", sans-serif;
}

/*card design*/

hr {
	border-top: 1px solid grey;
  margin: 0;
  padding:0;
}
.cardbox{
  position: relative;
  margin: 50px 50px;
  height: 500px;
  width: 250px;
  border: 2px solid #0ff;
  border-radius: 15px 50px;
  overflow: hidden;
  box-shadow: 0 0 30px 2px #0ff;
}
@media (min-width:800px) {
  .cardbox:hover{
  background-color: #0ff;
  }
}
@media (max-width:800px) {
  .cardbox:active{
      background-color: #0ff;
  }
	.heading{
		width:80%;
		margin: 0 auto 0 auto;
	}
}






.TopHalfcard{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50%;
}


.BottomHalfCard{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 50%;
}
.infocard{
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
}
.image{
  position: relative;
  height: 250px;
  width: 250px;
  animation: 4s zoom ease-in-out infinite alternate;
}

@keyframes zoom {
  from{transform: scale(1);}
  to{transform: scale(0.95);}
}
.headcard{
  position: relative;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.headcard1{
  position: relative;
  color:white;
  font-family: 'Russo One', sans-serif;
  font-size: 1.6rem;
  margin-bottom: 0;
}
.middlecard{
    position: relative;
  color:white;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  line-height: 2;
  font-size: 1rem;
}
.middlecard1{
    position: relative;
  color:white;
  font-family: 'Quicksand', sans-serif;
  margin: 10px;
  font-size: 1rem;
}
.retail{
  position: absolute;
color:white;
font-family: 'Quicksand', sans-serif;
font-size: 0.7rem;
bottom: -3px;
margin:10px;
right: 15px;
}
.bottomcard{
    position: absolute;
  color:white;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  bottom: 10px;
  margin:10px;
  right: 10px;

}

.line1{
  height: 3px;
  width: 200px;
  background-color: white;

  position: absolute;
  animation: line1 0.4s ease-in-out infinite ;
  opacity: 0;
  z-index: -2;
}
.line2{
  height: 3px;
  width: 120px;
  background-color: white;

  position: absolute;
      animation: line2 0.72s ease-in-out 1s infinite ;
      opacity: 0;
      z-index: -2;
}
.line3{
  height: 3px;
  width: 80px;
  background-color: white;

  position: absolute;
      animation: line3 1.05s ease-in-out 0.5s infinite ;
opacity: 0;
z-index: -2;
}

.red{
  background-color: red;
  animation-delay: 0.2s;
}
.blue{
  background-color: #0ff;
  animation-delay: 0.4s;
}
.green{
  background-color: #54e346;
  animation-delay: 0.6s;
}
.gold{
  background-color: gold;
  animation-delay: 0.8s;
}
.purple{
  background-color: purple;
  animation-delay: 1s;
}
@keyframes line1 {
 from{transform: translate(-200px, -50px) rotate(30deg);opacity: 0.3;}
   to{transform: translate(250px, 210px) rotate(30deg);opacity: 0.3;}
}
@keyframes line2 {
from{transform: translate(-190px,-40px) rotate(30deg);opacity: 0.3;}
  to{transform: translate(250px,215px) rotate(30deg);opacity: 0.3;}

}
@keyframes line3 {
from{transform: translate(-190px,-20px) rotate(30deg);opacity: 0.3;}
  to{transform: translate(250px, 235px) rotate(30deg);opacity: 0.3;}
}

.golden{
  border-color: gold;
    box-shadow: 0 0 35px 5px gold;
    animation: 1s glowg linear infinite;
}
.golden:hover{
  background-color: gold;
}
.purplean{
  border-color: purple;
    box-shadow: 0 0 35px 5px purple;
    animation: 1s glowp ease-in-out infinite;
}
.purplean:hover{
  background-color: purple;
}

@keyframes glowg {
  0%{box-shadow: 0 0 25px 1px gold; }
  50%{box-shadow: 0 0 30px 2px gold; }
  100%{box-shadow: 0 0 25px 1px gold; }
}
@keyframes glowp {
  0%{box-shadow: 0 0 25px 1px purple; }
  50%{box-shadow: 0 0 35px 5px purple; }
  100%{box-shadow: 0 0 25px 1px purple; }
}
@media (max-width: 800px){
.cardbox{
  margin: 50px 0;
}
}

@media (min-width: 1400px) {
  .cardbox{
    margin: 50px 100px;
  }
}
